span {
    font-weight: bold;
}

.header {
    .back-button {
        color: white;
        font-size: large;
    }
    .toolbar-title {
        color: white;
        font-size: x-large;
        margin-top: 3px;
        display: block;
    }
    ion-buttons {
        font-size: 2.3em;
    }
}

.member-container {
    background: linear-gradient(0deg, rgba(26, 105, 64, 1) 0%, rgba(26, 105, 64, 1) 17%, rgba(28, 137, 84, 1) 70%, rgba(28, 137, 84, 1) 100%);
    .profile-wrapper {
        background: transparent;
        display: block;
        margin-top: 20px;
        .profile {
            border-radius: 100%;
            width: 15em;
            height: 15em;
            background: rgba(255, 255, 255, 0.2);
            margin: auto;
            overflow: hidden;
            position: relative;
            border: 6px solid rgba(255, 255, 255, 0.4);
            img {
                margin: auto;
                min-width: 100%;
                min-height: 100%;
                display: block;
                position: absolute;
                top: -100%;
                right: -100%;
                left: -100%;
                bottom: -100%;
            }
        }
        .profile-info {
            text-align: center;
            display: block;
            font-size: 210%;
            color: white;
            margin-top: 40px;
        }
        .detail {
            margin-top: 20px;
            text-align: center;
            display: block;
            color: white;
            font-size: xx-large;
            .detail-item {
                border: 1px solid grey;
                background: white;
                color: grey;
                font-size: x-large;
                span {
                    font-size: xx-large;
                    b {
                        color: goldenrod;
                    }
                }
            }
        }
        .expire-date {
            margin-top: 20px;
            text-align: center;
            display: block;
            color: white;
            font-size: large;
        }
    }
}

//iphone 6
@media only screen and (max-device-width: 375px) {
    .header {
        .back-button {
            color: white;
            font-size: 120%;
        }
        .toolbar-title {
            font-size: 150%;
        }
        ion-buttons {
            font-size: 210%;
        }
    }
}

//iphone 5 screen
@media only screen and (max-device-width: 320px) {
    .header {
        .back-button {
            font-size: 120%;
        }
        .toolbar-title {
            font-size: 115%;
        }
        ion-buttons {
            font-size: 190%;
        }
    }
    .member-container {
        .profile-wrapper {
            .profile-info {
                font-size: x-large;
            }
        }
    }
}