.fa {
    color: white;
    display: block;
    margin: 5px 5px 0 0;
}
.page-wrapper {
    background: linear-gradient(0deg, rgba(26,105,64,1) 0%, rgba(26,105,64,1) 17%, rgba(28,137,84,1) 70%, rgba(28,137,84,1) 100%); /* w3c */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8954', endColorstr='#1a6940',GradientType=0 ); /* ie6-9 */
}