<ion-header class="header">
    <ion-navbar>
        <ion-title>Open Discussion</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="chatmessage-container">
    <div class="chat-content" #scrollMe style="overflow: scroll;" [style.height]="checkKeyboardValue? keyboardShownValue + 'px' : '93.5%'">
    <!--<ion-scroll #scrollMe scrollY="true" class="chat-content">-->
        <ion-list>
            <!--check network connection-->
            <div class="error-messages" *ngIf="connectionStatus">
                <ion-icon ios="ios-warning" md="md-warning"></ion-icon>
                <p>Could not reload messages <br>Please make sure you are connected to the <br>network</p>
            </div>
            <div *ngIf="!connectionStatus">
                <div *ngIf="chatsLength == timeLength ">
                    <!--Chat history section-->
                    <div class="loading-messages" *ngIf="chatHistory==''">
                        <!--loading and while retrieving data-->
                            <div class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                            </div>
                            <p>Loading messages...</p>
                    </div>
                    <div class="chat-history-wrapper" *ngFor="let data of chatHistory; let i=index">
                        <!--Date & time of messages-->
                        <div class="date-time-chat">
                            <p *ngIf="i == 0">{{chatHistory[i].day}}, {{chatHistory[i].month}}/{{chatHistory[i].date}}/{{chatHistory[i].year}} </p>
                            <div *ngIf="i > 0">
                                <div *ngIf="chatHistory[i].date != chatHistory[i-1].date">
                                    <div *ngIf="date == chatHistory[i].date">
                                        <p>Today</p>
                                    </div>
                                    <div *ngIf="date-1 == chatHistory[i].date">
                                        <p>Yesterday</p>
                                    </div>
                                    <div *ngIf="(date != chatHistory[i].date) && (date-1 != chatHistory[i].date)">
                                        <p>{{chatHistory[i].day}}, {{chatHistory[i].month}}/{{chatHistory[i].date}}/{{chatHistory[i].year}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Chat messages-->
                        <div class="chat-wrapper">
                            <!--Me section chat messages-->
                            <div class="chat-bubble me" *ngIf="userName === data.username">
                                <span>{{data.username}}</span>
                                <b>{{ data.time }}</b>
                                <p>{{data.text}}</p>
                            </div>
                            <div class="chat-person-image" *ngIf="userName === data.username">
                                <img src="{{data.userPhoto}}">
                            </div>
                            <!--You section chat messages-->
                            <div class="chat-person-image" *ngIf="userName !== data.username">
                                <img src="{{data.userPhoto}}">
                            </div>
                            <div class="chat-bubble you" *ngIf="userName !== data.username">
                                <span>{{data.username}}</span>
                                <p>{{data.text}}</p>
                                <b>{{ data.time }}</b>
                            </div>

                        </div>  
                        
                    </div>
                    

                    <!--Real time chat message section-->
                    <div class="chat-wrapper" *ngFor="let i of time; let j=index;">
                        <!--Me section chat messages-->
                        <div class="chat-bubble me" *ngIf="(chats[j].message) && (userName === chats[j].username)">
                            <span *ngIf="chats[j].message">{{ chats[j].username }}</span>
                            <b>{{ i }}{{ timeStatus }}</b>
                            <p *ngIf="chats[j].message">{{chats[j].message}}</p>
                        </div>
                        <div class="chat-person-image" *ngIf="(chats[j].message) && (userName === chats[j].username)">
                            <img *ngIf="userPhoto" src="{{userPhoto}}">
                            <img *ngIf="!userPhoto" src="img/photo.jpg">
                        </div>
                        <!--You section chat messages-->
                        <div class="chat-person-image" *ngIf="(chats[j].message) && (userName !== chats[j].username)">
                            <img *ngIf="userPhoto" src="{{ chats[j].photo}}">
                            <img *ngIf="!userPhoto" src="img/photo.jpg">
                        </div>
                        <div class="chat-bubble you" *ngIf="(chats[j].message) && (userName !== chats[j].username)">
                            <span *ngIf="chats[j].message">{{ chats[j].username }}</span>
                            <p *ngIf="chats[j].message">{{chats[j].message}}</p>
                            <b>{{ i }}{{ timeStatus }}</b>
                        </div>

                        <div class="chat-bubble-status" *ngIf="chats[j].status">
                            <div class="time">
                                <b>{{ i }}{{ timeStatus }}</b>
                            </div>
                            <strong *ngIf="chats[j].status">{{ chats[j].status }}</strong>
                        </div>
                    </div>

                </div>

            </div>
        </ion-list>
    </div>
    <!--</ion-scroll>-->

    <div class="chat-input" #chatinput>
        <!-- Real floating action button, fixed. It will not scroll with the content -->
            <ion-fab right bottom *ngIf="notificationType != undefined && settingToggleNotification == 'true'">
                <button ion-fab color="light"><ion-icon [ngStyle]="{'color': '#1C8954'}" name="md-add"></ion-icon></button>
                <ion-fab-list side="top">
                    <button *ngIf="notificationType == 'ON'" (click)="notificationOn()" ion-fab><ion-icon [ngStyle]="{'color': 'black'}" name="notifications"></ion-icon></button>
                    <button *ngIf="notificationType == 'OFF'" (click)="notificationOff()" ion-fab><ion-icon [ngStyle]="{'color': 'black'}" name="notifications-off"></ion-icon></button>
                </ion-fab-list>
            </ion-fab>
        <textarea autocomplete="on" autocorrect="on" autocapitalize="on" keyboardAttach class="chatinput-field" type="text" [(ngModel)]="chatinp" placeholder="Type a message..."></textarea>
        <input type="submit" class="chatinput-btn" fab (click)="send(chatinp)" value="Send" />
    </div>

</ion-content>