<!--
  Generated template for the Chatmessage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

    <ion-navbar>
        <ion-title>Room One</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="chatmessage-container">

    <ion-scroll scrollY="true" class="chat-content">
        <ion-list>

            <div *ngIf="chatsLength == timeLength">
                <div class="chat-wrapper" *ngFor="let i of time; let j=index;">
                    <div class="chat-person-image" *ngIf="chats[j].message">
                        <img *ngIf="userPhoto" src="{{userPhoto}}">
                        <img *ngIf="!userPhoto" src="img/photo.jpg">
                    </div>
                    <div class="chat-bubble me" *ngIf="chats[j].message">
                        <span *ngIf="chats[j].message">{{ chats[j].username }}</span>
                        <p *ngIf="chats[j].message">{{chats[j].message}}</p>
                        <strong *ngIf="chats[j].status">{{ chats[j].status }}</strong>
                        <b>{{ i }}</b><i>{{ timeStatus }}</i>
                    </div>
                    <div class="chat-bubble-status me" *ngIf="chats[j].status">
                        <div class="time">
                            <b>{{ i }}</b><i>{{ timeStatus }}</i>
                        </div>
                        <strong *ngIf="chats[j].status">{{ chats[j].status }}</strong>
                    </div>

                </div>
            </div>


        </ion-list>
    </ion-scroll>

    <div class="chat-input">
        <ion-input class="chatinput-field" type="text" [(ngModel)]="chatinp" placeholder="Type a message..."></ion-input>
        <input type="submit" class="chatinput-btn" fab (click)="send(chatinp)" value="Send" />
    </div>

</ion-content>