$green_primary_color: #1C8954;
.list-ios:after {
    content: "";
    display: inline-table;
    position: relative;
    clear: both;
}

.chatmessage-container {
    .chat-content {
        display: block;
        position: relative;
        width: 100%;
        height: 93.5%;
        margin-top: -5px;
        .user-status {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 20px;
        }
        .date-time-chat {
            width: 30%;
            text-align: center;
            border-radius: 5px;
            margin: 0 auto;
            background-color: #EEEEEE;
            box-shadow: inset 0 0 2px #9E9E9E;
            color: #556B2F;
        }
        .error-messages {
            margin-top: 50%;
            text-align: center;
            ion-icon {
                color: green;
                font-size: -webkit-xxx-large;
            }
        }
        .loading-messages {
            position: relative;
            margin-top: 60%;
            p {
                text-align: center;
            }
            // demo-specific
            .showbox {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5%;
            }
            // end demo-specific

            .loader {
                position: relative;
                margin: 0 auto;
                width: 30px;
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }

            .circular {
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                stroke-linecap: round;
                }

                @keyframes rotate {
                    100% {
                        transform: rotate(360deg);
                    }
                }

                @keyframes dash {
                    0% {
                        stroke-dasharray: 1, 200;
                        stroke-dashoffset: 0;
                    }
                    50% {
                        stroke-dasharray: 89, 200;
                        stroke-dashoffset: -35px;
                    }
                    100% {
                        stroke-dasharray: 89, 200;
                        stroke-dashoffset: -124px;
                    }
                }

                @keyframes color {
                    100%,
                    0% {
                        stroke: #d62d20;
                    }
                    40% {
                        stroke: #0057e7;
                    }
                    66% {
                        stroke: #008744;
                    }
                    80%,
                    90% {
                        stroke: #ffa700;
                    }
                }
            }  
        }
        
    .scroll-content {
        margin-top: 0;
        padding: 5px;
    }
    .chat-wrapper {
        position: relative;
        margin-bottom: 10px;
        max-width: 100%;
        display: flex;
        &:after {
            content: "";
            display: table;
            position: relative;
            clear: both;
        }
        p {
            box-sizing: none;
            color: white;
        }
        .chat-person-image {
            display: inline-block;
            width: 53px;
            height: 43px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;
            img {
                min-width: 100%;
                min-height: 100%;
                display: block;
                margin: auto;
                position: absolute;
                top: -100%;
                right: -100%;
                bottom: -100%;
                left: -100%;
            }
        }
        .chat-bubble {
            position: relative;
            display: inline-block;
            vertical-align: top;
            word-break: break-all;
            width: 100%;
            color: #2F4F4F;
            &:before {
                background-color: $green_primary_color;
                content: "\00a0";
                display: block;
                height: 16px;
                position: absolute;
                top: 23px;
                width: 20px;
                z-index: 1;
            }
            p {
                margin: 0;
                background-color: $green_primary_color;
                border-radius: 5px;
                box-shadow: 0 0 6px #B2B2B2;
                display: inline-block;
                padding: 10px 18px;
                position: relative;
                vertical-align: top;
                z-index: 0;
                max-width: 75%;
            }
            span {
                display: block;
                margin-bottom: 3px;
                font-size: small;
            }
            b {
                font-size: 13px;
                vertical-align: bottom;
                margin: 4px;
                display: inline;
                vertical-align: bottom;
            }
            .none {
                display: none;
            }
        }
        .chat-bubble-status {
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            word-break: break-all;
            width: 100%;
            padding: 10px 90px;
            color: #9E9E9E;
            b {
                font-size: 11.5px;
                vertical-align: bottom;
                margin: 4px;
                vertical-align: bottom;
            }
            strong {
                font-family: "Helvetica Neue", "Roboto", sans-serif;
            }
            .none {
                display: none;
            }
            .time {
                text-align: center;
            }
        }
        .you {
            margin: 0px 10px 0px 20px;
        }
        .you::before {
            box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4);
            left: -8px;
            transform: rotate( 45deg) skew( -40deg);
        }
        .me {
            margin: 5px 25px;
            text-align: right;
        }
        .me::before {
            box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4);
            right: -9px;
            transform: rotate( 7deg) skew( -40deg);
        }
    }
    .chat-input {
        position: fixed;
        border-top: 1px solid $green_primary_color;
        width: 100%;
        padding-right: 10px;
        z-index: 2;
        //fab button positioning & colors
        button {
            box-shadow: 0 4px 6px 0 rgba(0,0,0,.14), 0 4px 5px rgba(0,0,0,.1);
        }
        ion-fab[bottom] {
            bottom: 70px;
        }
        ion-fab[right] {
            right: 25px;
        }
        .fab-md.fab-md-light {
            color: $green_primary_color;
            background-color: white;
        }
        .chatinput-field {
            resize: none;
            display: inline-block;
            width: 80%;
            margin-top: 1%;
            border: none;
            input {
                margin: 15px 8px 10px 0 !important;
            }
        }
        .chatinput-btn {
            position: absolute;
            width: 18%;
            background: $green_primary_color;
            color: white;
            line-height: 2;
            border-radius: 15px;
            transition: 0.5s;
            margin-top: 1%;
        }
        .chatinput-btn.activated {
            opacity: 0.2;
        }
    }
}

//iphone 5
@media screen and (max-width:320px) {
    .chatmessage-container {
        .chat-wrapper {
            .chat-person-image {
                width: 20%;
            }
        }
    }
}

@media screen and (min-width:360px) and (max-width: 400px) {
    .chatmessage-container {
        .chat-wrapper {
            .chat-person-image {
                width: 17%;
            }
        }
    }
}