<!--
  Generated template for the Chatmessage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header">

  <ion-navbar>
    <ion-title>Room One</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="chatmessage-container">

  <ion-scroll scrollY="true" class="chat-content">
    <ion-list>
      <div class="chat-wrapper" *ngFor="let message of chats">
        <div class="chat-person-image">
          <img *ngIf="userPhoto" src="{{userPhoto}}">
          <img *ngIf="!userPhoto" src="img/photo.jpg">
        </div>
        <div class="chat-bubble me">
          <p>{{message}}</p>
        </div>
      </div>
    </ion-list>
  </ion-scroll>

  <div class="chat-input">
    <ion-input class="chatinput-field" type="text" [(ngModel)]="chatinp" placeholder="Type a message..."></ion-input>
    <button class="chatinput-btn" fab (click)="send(chatinp)">Send</button>
  </div>
  
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content 
     loadingSpinner="bubbles"
     loadingText="Loading more data...">
     </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->

</ion-content>
