<ion-header class="header">

    <ion-navbar>
        <ion-title>Notifications</ion-title>
        <ion-buttons end>
            <button (click)="dismiss()"><ion-icon [ngStyle]="{'color': 'white'}" name="close"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="overflow: scroll; height: 100%;">
        <div class="noNotification" *ngIf="!storeNotificationsArray">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            <p>Notifications Cleaned</p>
        </div>
        <ion-list>
            <ion-item-sliding>
                <ion-item *ngFor="let notiIndex of storeNotificationsArray; let i=index">
                    <ion-thumbnail item-left>
                        <img *ngIf="notiIndex.title == 'New message'" src="img/chat-icon.svg">
                        <img *ngIf="notiIndex.title != 'New message'" src="img/media-icon.svg">
                    </ion-thumbnail>
                    <h2 *ngIf="notiIndex.title == 'New message'">Chat Message</h2>
                    <h2 *ngIf="notiIndex.title != 'New message'">{{ storeNotificationsArray[storeNotificationsArray.length - (i+1)].title }}</h2>
                    <p>{{ storeNotificationsArray[storeNotificationsArray.length - (i+1)].message }}</p>
                    <button class="viewButton" (click)="viewBtnPressed(notiIndex)" ion-button clear item-right>View</button>
                </ion-item>
                <ion-item-options side="left">
                    <button ion-button color="primary"><ion-icon name="text"></ion-icon>Text</button>
                    <button ion-button color="secondary"><ion-icon name="call"></ion-icon>Call</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>