<ion-header class="header">
    

    <ion-navbar>
        
        <ion-buttons  *ngIf = " params != 1"  left class="dismiss-btn">
            <button (click)="dismiss()"><ion-icon [ngStyle]="{'color': 'white'}" name="close">	</ion-icon></button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
        <ion-buttons end class="clearNoti">
            <button class="clearNoti" (click)="clearNotification()">Clear</button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="overflow: scroll; height: 100%;">
        <div class="noNotification" *ngIf="!storeNotificationsArray || storeNotificationsArray == ''">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            <p>No Notifications</p>
        </div>
        <ion-list>
            <ion-item-sliding *ngFor="let notiIndex of storeNotificationsArray; let i=index">
                <ion-item>
                    <ion-thumbnail item-left>
                        <img *ngIf="storeNotificationsArray[storeNotificationsArray.length - (i+1)].title == 'New message'" src="img/chat-icon.svg">
                        <img *ngIf="storeNotificationsArray[storeNotificationsArray.length - (i+1)].title != 'New message'" src="img/media-icon.svg">
                    </ion-thumbnail>
                    <h2 *ngIf="storeNotificationsArray[storeNotificationsArray.length - (i+1)].title == 'New message'">Chat Message</h2>
                    <h2 *ngIf="storeNotificationsArray[storeNotificationsArray.length - (i+1)].title != 'New message'">{{ storeNotificationsArray[storeNotificationsArray.length - (i+1)].title }}</h2>
                    <p>{{ storeNotificationsArray[storeNotificationsArray.length - (i+1)].message }}</p>
                    <button class="view-btn" (click)="viewBtnPressed(storeNotificationsArray[storeNotificationsArray.length - (i+1)])" ion-button clear item-right>View</button>
                </ion-item>
                <!--<ion-item-options side="right">
                    <button (click)="deleteItem(storeNotificationsArray.length - (i+1))" class="delete-btn" ion-button color="danger">Delete</button>
                </ion-item-options>-->
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>