$green_primary_color: #1C8954;

.view-btn {
    color: $green_primary_color;
}
.delete-btn {
    span {
        font-weight: normal;
    }
}
.clearNoti {
    color: white;
    button {
        display: block;
        font-size: 30%;
        transition: 0.2s;
    }
    button.activated {
        color: transparent;
    }
}
.dismiss-btn {
    float: left;
}
.noNotification {
    font-size: large;
    color: $green_primary_color;
    text-align: center;
    margin-top: 50%;
    text-align: center;
    ion-icon {
        color: green;
        font-size: -webkit-xxx-large;
    }
}