$green_primary_color: #1C8954;
$light_green_color: #669F42;
$dark_green_color: #1A6940;
$blue_fb_color: #3956A0;
$circle-size: 100px;
$outside-circle-size: $circle-size+10px;
$outside-circle-border: 2px;
$outside-circle-margin: (($outside-circle-size / 2) + $outside-circle-border) * -1;
.scroll-content {
    overflow-y: hidden;
}

.header {
    button {
        font-size: xx-large;
        background: transparent;
    }
    .toolbar-content {
        display: block;
        padding: 0 50px;
    }
    .toolbar-background {
        border-color: transparent;
        background: $green_primary_color;
    }
    .toolbar-title {
        font-size: 140% !important;
        margin-top: 0px !important;
    }
    .header-title {
        display: block;
        top: 15px;
    }
    .header-title .toolbar-title {
        font-size: large !important;
        color: #1A6940;
        background: #EFEBE9;
        padding: 0px 10px;
        border-radius: 50px;
        width: auto;
        text-align: center;
    }
    .showNotiBtn {
        transition: 0.2s;
    }
    .showNotiBtn.activated {
        opacity: 0.2;
        animation: bounce 1s .5s;
        transform: scale(0.85);
    }
    @keyframes bounce {
        0% {
            transform: scale(1.1);
            opacity: 1
        }
        50% {
            transform: scale(1.6);
            opacity: .7;
        }
        60% {
            transform: scale(0.6);
            opacity: 1
        }
        80% {
            transform: scale(0.95)
        }
        100% {
            transform: scale(0.85)
        }
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background: $green_primary_color;
    .top-bar {
        width: 100%;
        height: 25%;
        display: block;
        padding-top: 10px;
        .vkirirom-img {
            display: block;
            width: 45%;
            margin: 0 auto;
        }
    }
    .noti-bar {
        display: inline-table;
        width: 100%;
        height: 5%;
        color: white;
        text-align: center;
        font-weight: bold;
        border: 1px solid;
        border-right: none;
        border-left: none;
    }
    .dashboard-action {
        display: block;
        width: 100%;
        height: 66%;
        text-align: center;
        background: linear-gradient(0deg, rgba(26, 105, 64, 1) 0%, rgba(26, 105, 64, 1) 17%, rgba(28, 137, 84, 1) 70%, rgba(28, 137, 84, 1) 100%);
        img {
            width: 100%;
        }
        p {
            font-size: 10px;
        }
        button {
            background: transparent;
            width: 30%;
            color: white;
            font-weight: bold;
            transition: 0.5s;
        }
        button.activated {
            opacity: 0.2;
        }
        .first-row {
            margin-top: 7%;
        }
        .second-row {
            margin-top: 7%;
        }
        .emergency {
            position: relative;
            margin-top: 10%;
            width: 100%;
            height: auto;
            button {
                position: relative;
                width: 80%;
                height: 4.5em;
                font-size: 120%;
                border-radius: 15px;
                color: red;
                background: white;
            }
        }
    }
}

//for android when there is home button below
.platform-android {
    @media only screen and (device-width: 360px) {
        .container {
            .dashboard-action {
                .emergency {
                    button {
                        height: 4.1em;
                    }
                }
            }
        }
    }
    .container {
        .dashboard-action {
            .first-row {
                margin-top: 4%;
            }
            .second-row {
                margin-top: 3%;
            }
            .emergency {
                margin-top: 5%;
            }
        }
    }
}

.platform-ios {
    .header-title {
        display: block;
        top: 8px;
    }
}

//iphone 5 screen
@media only screen and (min-device-width: 320px) {
    .header {
        button {
            font-size: x-large;
        }
        .header-title {
            top: 13px;
            .toolbar-title {
                font-size: small !important;
            }
        }
    }
    .container {
        .noti-bar {
            font-size: x-small;
        }
        .dashboard-action {
            height: 70%;
            .first-row {
                margin-top: 4%;
            }
            .second-row {
                margin-top: 4%;
            }
            .emergency {
                margin-top: 10%;
                button {
                    height: 4em;
                    font-size: 15px;
                }
            }
            p {
                margin: 0;
            }
        }
    }
}

// Iphone 6 and 6 plus
@media only screen and (min-device-width: 375px) {
    .container .dashboard-action p {
        margin: 0;
        font-size: 10px;
    }
    .container .dashboard-action .first-row {
        margin-top: 5%;
    }
    .container .dashboard-action .second-row {
        margin-top: 5%;
    }
    .container .dashboard-action .emergency {
        margin-top: 10% !important;
    }
    .header .header-title {
        top: 13px;
    }
}

// Ipad screen
@media only screen and (min-device-width: 768px) {
    img {
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 60%;
    }
    .container .top-bar .vkirirom-img {
        height: 85%;
        width: 35%;
    }
    .container .dashboard-action .first-row {
        margin-top: 5%;
    }
    .container .dashboard-action .second-row {
        margin-top: 5%;
    }
    .container .dashboard-action .emergency {
        margin-top: 9%;
    }
    .container .dashboard-action .emergency button {
        font-size: 25px;
    }
    .container .dashboard-action {
        height: 70%;
    }
    .header .header-title {
        top: 15px;
    }
    .container .dashboard-action img {
        width: 70%;
    }
    .container .dashboard-action p {
        font-size: medium;
        margin: 0;
    }
}

// Ipad pro screen
@media only screen and (min-device-width: 1024px) {
    img {
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 80%;
    }
    .container {
        font-size: x-large;
    }
    .vtop-bar .vkirirom-img {
        width: 35% !important;
    }
    .container .top-bar .vkirirom-img {
        height: 85%;
        width: 35%;
    }
    .header .header-title {
        top: 13px;
    }
    .container .noti-bar {
        font-size: x-large;
    }
    .container .dashboard-action .first-row {
        margin-top: 5%;
    }
    .container .dashboard-action .second-row {
        margin-top: 5%;
    }
    .container .dashboard-action img {
        width: 70%;
    }
    .container .dashboard-action p {
        font-size: x-large;
        margin: 0;
    }
    .container .dashboard-action .emergency button {
        font-size: 25px;
    }
}