<ion-header class="header">
    <ion-navbar>
        <ion-title class="header-title">
            <span *ngIf="isKirirom == true">Indoor Mode</span>
            <span *ngIf="isKirirom == false" style="color: #827717;">Outdoor Mode</span>
            <span *ngIf="isUnknown == true && isKirirom == undefined" style="color: #F44336;">No Connection</span>
        </ion-title>
        <button left menuToggle><ion-icon [ngStyle]="{'color': 'white'}" name="menu"></ion-icon></button>
        <ion-buttons end>
            <button (click)="showNoti()"><ion-icon [ngStyle]="{'color': 'white'}" name="ios-notifications"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="container">
    <div class="top-bar">
        <img class="vkirirom-img" src="img/vkirirom_logo.svg">
    </div>
    <div class="noti-bar">
        <p *ngIf="!Notification">Welcome to vKirirom Mobile App</p>
        <p *ngIf="Notification">{{ Notification }}</p>
    </div>
    <div class="dashboard-action">
        <div class="first-row">
            <button (click)="navigate(1)" class="service-btn"><img src="img/service-icon.svg">Service</button>
            <button (click)="navigate(2)" class="member-btn"><img src="img/card-icon.svg">Membership</button>
            <button (click)="navigate(3)" class="map-btn"><img src="img/map-icon.svg">vMap</button>
        </div>
        <div class="second-row">
            <button (click)="navigate(4)" class="service-btn"><img src="img/chat-icon.svg">Chat</button>
            <button (click)="navigate(5)" class="member-btn"><img src="img/media-icon.svg">Media</button>
            <button (click)="navigate(6)" class=" map-btn "><img src="img/about-icon.svg ">About Us</button>
        </div>
        <div class="emergency ">
            <button (click)="sos() ">EMERGENCY SOS</button>
        </div>
    </div>
</ion-content>