$green_primary_color: #1C8954;

.item-booking {
    margin: 0 auto;
    text-align: center;
    p {
        width: 35%;
        color: black;
        font-size: 90%;
        text-align: left;
    }
    button {
        background: $green_primary_color;
        color: white;
        line-height: 2;
        width: 60%;
    }
}

@media only screen and (max-device-width: 320px) {
    .item-booking {
        text-align: initial;
        button {
            width: 85%;
        }
    }
}