$green_primary_color: #1C8954;

.ios, .md {
 
  page-introslides {
 
    ion-slide {
      background-color: $green_primary_color;
    }
 
    ion-slide img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }

    .next-btn {
      position: absolute;
      width: 100%;
      bottom: 5%;
      button {
        background: transparent;
        box-shadow: none;
      }
      ion-icon {
        margin-left: 15%;
      }
    }

    .start-btn {
      position: absolute;
      width: 100%;
      bottom: 15%;
      button {
        background: transparent;
        font-size: 100%;
        box-shadow: none;
        text-transform: none;
      }
      ion-icon {
        margin-left: 15%;
      }
    }
 
  }
 
}