$green_primary_color: #1C8954;
.ios,
.md {
    page-introslides {
        ion-slide {
            background: -moz-radial-gradient(center, ellipse cover, rgba(60, 165, 92, 1) 0%, rgba(60, 165, 92, 1) 32%, rgba(28, 137, 84, 1) 100%);
            /* ff3.6+ */
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(60, 165, 92, 1)), color-stop(32%, rgba(60, 165, 92, 1)), color-stop(100%, rgba(28, 137, 84, 1)));
            /* safari4+,chrome */
            background: -webkit-radial-gradient(center, ellipse cover, rgba(60, 165, 92, 1) 0%, rgba(60, 165, 92, 1) 32%, rgba(28, 137, 84, 1) 100%);
            /* safari5.1+,chrome10+ */
            background: -o-radial-gradient(center, ellipse cover, rgba(60, 165, 92, 1) 0%, rgba(60, 165, 92, 1) 32%, rgba(28, 137, 84, 1) 100%);
            /* opera 11.10+ */
            background: -ms-radial-gradient(center, ellipse cover, rgba(60, 165, 92, 1) 0%, rgba(60, 165, 92, 1) 32%, rgba(28, 137, 84, 1) 100%);
            /* ie10+ */
            background: radial-gradient(ellipse at center, rgba(60, 165, 92, 1) 0%, rgba(60, 165, 92, 1) 32%, rgba(28, 137, 84, 1) 100%);
            /* w3c */
        }
        ion-slide img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }
        .next-btn {
            position: absolute;
            width: 100%;
            bottom: 5%;
            button {
                background: transparent;
                box-shadow: none;
            }
            ion-icon {
                margin-left: 15%;
            }
        }
        .start-btn {
            position: absolute;
            width: 100%;
            bottom: 30%;
            button {
                background: transparent;
                font-size: 100%;
                box-shadow: none;
                text-transform: none;
            }
            ion-icon {
                margin-left: 15%;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) {
    .start-btn {
        button {
            font-size: xx-large !important;
        }
    }
}