<ion-slides #Slides [options]="sliderOptions">
    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-welcome-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/welcome-intro.png" />
        <div class="next-btn">
            <button (click)="nextSlide()" ion-button>Next<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
    </ion-slide>

    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-map-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/map-intro.png" />
        <div class="next-btn">
            <button (click)="nextSlide()" ion-button>Next<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
    </ion-slide>

    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-sos-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/sos-intro.png" />
        <div class="next-btn">
            <button (click)="nextSlide()" ion-button>Next<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
    </ion-slide>

    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-chat-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/chat-intro.png" />
        <div class="next-btn">
            <button (click)="nextSlide()" ion-button>Next<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
    </ion-slide>

    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-mode-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/mode-intro.png" />
        <div class="next-btn">
            <button (click)="nextSlide()" ion-button>Next<ion-icon name="ios-arrow-forward"></ion-icon></button>
        </div>
    </ion-slide>

    <ion-slide>
        <img *ngIf="isIpad" src="img/app-intro/ipad-ready-intro.png" />
        <img *ngIf="!isIpad" src="img/app-intro/ready-intro.png" />
        <div class="start-btn">
            <button ion-button (click)="goToHome()">Get Started</button>
        </div>
    </ion-slide>

</ion-slides>