$green_primary_color: #1C8954;

.sidemenu-header {
    /*background: #f26e20;*/
    height: 35%;
}

.site-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.profile {
    display: block;
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    height: auto;
    .profile-info {
        display: block;
        position: relative;
        span {
            font-size: initial;
            font-weight: 500;
        }
    }
    .user-profile {
        z-index: 1;
        background: #49a076;
        border-radius: 100%;
        width: 12em;
        height: 12em;
        overflow: hidden;
        position: relative;
        margin: auto;
        border: 6px solid rgba(255, 255, 255, 0.4);
        img {
            display: block;
            margin: auto;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: -100%;
            bottom: -100%;
            left: -100%;
            right: -100%;
        }
        p {
            margin-top: 10%;
        }

         .loader {
                position: relative;
                margin: 0 auto;
                width: 30px;
                margin-top: 42%;
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }

            .circular {
                animation: rotate 2s linear infinite;
                height: 100%;
                transform-origin: center center;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            .path {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
                animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
                stroke-linecap: round;
                }

                @keyframes rotate {
                    100% {
                        transform: rotate(360deg);
                    }
                }

                @keyframes dash {
                    0% {
                        stroke-dasharray: 1, 200;
                        stroke-dashoffset: 0;
                    }
                    50% {
                        stroke-dasharray: 89, 200;
                        stroke-dashoffset: -35px;
                    }
                    100% {
                        stroke-dasharray: 89, 200;
                        stroke-dashoffset: -124px;
                    }
                }

                @keyframes color {
                    100%,
                    0% {
                        stroke: #d62d20;
                    }
                    40% {
                        stroke: #0057e7;
                    }
                    66% {
                        stroke: #008744;
                    }
                    80%,
                    90% {
                        stroke: #ffa700;
                    }
                }
            


    }
    .edit-btn {
        color: $green_primary_color;
        border-color: $green_primary_color;
        height: 100%;
        transition: 0.2s;
        font-size: 85%;
    }
    .edit-btn.activated {
        color: transparent;
        border-color: transparent;
        background-color: transparent;
    }

}

.btn-section {
    display: block;
    position: relative;
    .option-btn {
        width: 100%;
        display: inline-block;
        position: relative;
        .option-icon {
            width: 20%;
        }
        .option-title {
            vertical-align: super;
        }
    }
    span {
        font-weight: 400;
        color: white;
    }
    .option-btn {
        background-color: #49a076;
    }
    .option-icon.item-icon {
        color: white;
        font-size: 2.2em;
    }
}

//iphone 5 screen
@media only screen and (max-device-width: 320px) {
    .btn-section {
        .option-btn {
            font-size: 1.2rem;
        }
    }
}