<ion-menu [content]="content">
    <ion-content class="side-container">
        <div class="sidemenu-header profile">
            <img *ngIf="userPhoto" src="{{userPhoto}}" alt="Profile Picture">
            <img *ngIf="!userPhoto" src="img/profile.svg" alt="Profile Picture">
            <div class="profile-info">
                <br>
                <span *ngIf="userName">{{ userName }}</span>
                    <span *ngIf="!userName">Username</span><br>
                <span *ngIf="userEmail">{{ userEmail }}</span>
                    <span *ngIf="!userEmail">Someemail@email.com</span>
            </div>
        </div>
        <div class="btn-section">
            <ion-list>
                <button *ngIf="isHome" menuClose ion-item (click)="openHome()">
                    <ion-icon name="home"></ion-icon>
                </button>
                <button class="option-btn" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                    <ion-icon class="option-icon" name="{{p.ionicon}}"></ion-icon><span class="option-title">{{p.title}}</span>
                </button>
            </ion-list>
        </div>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>