.sidemenu-header {
    /*background: #f26e20;*/
    height: 35%;
}
.profile {
    .profile-info {
        span {
            font-size: initial;
            font-weight: 500;
        }
    }
    margin-top: 10%;
    text-align: center;
    img {
        width: 50%;
        margin: 0 auto;
        border: 6px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        background: rgb(73, 160, 118);
        display: block;
    }
}
.option-btn {
    width: 100%;
    display: inline-block;
    position: relative;
    .option-icon {
        width: 20%;
    }
    .option-title {
        vertical-align: super;
    }
}
.btn-section {
    span {
        font-weight: 400;
        color: white;
    }
    .option-btn {
        background-color: #49a076;
    }
    
    .option-icon.item-icon {
        color: white;
        font-size: 2.2em;
    }
}


//iphone 5 screen
@media only screen and (max-device-width: 320px) {
    .btn-section {
        .option-btn {
            font-size: 1.2rem;
        }
    }
}