label {
    margin: 0;
}

.setting-content {
    padding: 30px 15px;
    .custom-setting-label {
        font-size: 120%;
        font-weight: bold;
        color: #9e9e9e;
        display: inline-block;
    }
    .arrow {
        display: inline-block;
        float: right;
        font-size: 120%;
        font-weight: bold;
        color: #9e9e9e;
    }
    .status {
        font-size: 100%;
        font-weight: bold;
        color: #9e9e9e;
        display: inline-block;
        float: right;
        margin-right: 3%;
        margin-top: 1%;
    }
}