$green_primary_color: #1C8954;
$blue_fb_color: #3956A0;

//for android platform 
.platform-android {
    //forgot btn no shadow on android
    .forgot-btn.button-md {
        box-shadow: none;
    }
    .error-message {
        .label-md {
            margin: 0;
        }
    }
}

.header {
    .header-md::after {
        background-image: none;
    }
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background: $green_primary_color;
    .scroll-content {
        margin-top: 0;
    }
}
.vtop-bar {
    width: 100%; 
    height: 30%;
    display: flex !important;
    align-items: center;
    justify-content: center;

    .vkirirom-img {
        width: 45%;
        margin: 0 auto;
    }
}
.input-signup {
    width: 100%;
    height: 15%;
    margin-top: 5%;
    input {
        border-bottom: 1px solid white;
        color: white;
    }
    ion-item {
        background-color: transparent;
    }
    ion-label {
        color: white !important;
        margin-top: -3px;
        padding: 0 0 10px 0;
    }
    .input-cover {
        position: static;
    }

    .error-message {
        background: transparent;
        p {
            color: firebrick;
            text-align: center;
            transition: 1s;
        }
        .label-ios {
            margin: 0;
        }
    }
    .item-block {
        min-height: 1.5em;
    }
    .item-inner {
        border-bottom: transparent !important;
    }
}

//iphone 5 screen
@media only screen and (max-device-width: 320px) {
    .submit-login {
        margin-top: 0;
    }
    .input-signup {
        .item {
            //make each field decrease the line height, smaller
            line-height: 10px;
        }
    }
}

//for android when there is home button below
.platform-android {
    .submit-login {
        margin-top: 5%;
    }
    .input-signup {
        .item {
            //make each field decrease the line height, smaller
            line-height: 10px;
        }
    }
}
